@model SEDC.Lamazon.Models.Domain.Product

<h2>Details</h2>
<h3>Product Details For @Model.Name</h3>

<p>Description: @Model.Description</p>
<p>Category: @Model.Category</p>
<p>Price: @Model.Price</p>